# Folder view configuration files
.DS_Store
Desktop.ini

# Thumbnail cache files
._*
Thumbs.db

# Files that might appear on external disks
.Spotlight-V100
.Trashes

# Compiled Python files
*.pyc

# Compiled java files
.target/

target/

# Application specific files
venv
node_modules
.sass-cache

#stupid intellij
.idea/

#project iml
EsperFraudDetection.iml
